{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta content="" name="description"/>
    <meta content="webthemez" name="author"/>
    <title>BRILLIANT Online Shop</title>
    <!-- Bootstrap Styles-->
    <link href="{% static 'assets/css/bootstrap.css' %}" rel="stylesheet"/>
    <!-- FontAwesome Styles-->
    <link href="{% static 'assets/css/font-awesome.css' %}" rel="stylesheet"/>

    <link href="{% static 'assets/css/select2.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/checkbox3.min.css' %}" rel="stylesheet">
    <!-- Custom Styles-->
    <link href="{% static 'assets/css/custom-styles.css' %}" rel="stylesheet"/>
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
</head>
<body>
<div id="wrapper">
    <nav class="navbar navbar-default top-navbar" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><strong><i class="icon fa fa-plane"></i> BRILLIANT</strong></a>
            <div id="sideNav" href="">
                <i class="fa fa-bars icon"></i>
            </div>
        </div>

        <ul class="nav navbar-top-links navbar-right">
            <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
        </ul>
    </nav>
    <!--/. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">

                <li>
                    <a href="/index"><i class="fa fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a class="active-menu" href="#"><i class="fa fa-sitemap"></i>Products <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/products">All products</a>
                        </li>
                        <li>
                            <a href="/product_add">Add product</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> Category <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/categories">All categories</a>
                        </li>
                        <li>
                            <a href="/category_add">Add category</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="fa fa-sitemap"></i> Subcategory <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/subcat">All subcategories</a>
                        </li>
                        <li>
                            <a href="/subcat_add">Add subcategory</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/users"><i class="fa fa-qrcode"></i> Users</a>
                </li>
            </ul>

        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div class="header">
            <h1 class="page-header">
                Form Elements <small>Best form elements.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Forms</a></li>
                <li class="active">Product Add</li>
            </ol>

        </div>

        <div id="page-inner">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Examples of standard form controls. such as input, textarea, select, checkboxes and
                                radios ,
                                static control, etc.</p>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="col-xs-12">
                                    <div class="sub-title">Category</div>
                                    {% for c in categories %}
                                        <div>
                                            <select class="selectbox" name="category">
                                                <optgroup label="Category">
                                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">SubCategory</div>
                                    {% for c in subcat %}
                                        <div>
                                            <select class="selectbox" name="subcategory">
                                                <optgroup label="SubCategory">
                                                    <option value="{{ c.id }}">{{ c.name }}</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Name</div>
                                    <div>
                                        <input type="text" class="form-control" value= "{{ product.name }}" name='name'
                                               placeholder="Text input">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Code</div>
                                    <div>
                                        <input type="text" class="form-control" value= "{{ product.code }}" name='code'
                                               placeholder="Text input">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Model</div>
                                    <div>
                                        <input type="text" class="form-control" value= "{{ product.model }}" name='model'
                                               placeholder="Text input">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Description</div>
                                    <div>
                                        <textarea class="form-control" name='description' {{ product.description}} rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Type</div>
                                    <div>
                                        <input type="text" class="form-control" value= "{{ product.type }}" name='type'
                                               placeholder="Text input">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div>
                                        <div class="sub-title">Image input</div>
                                        <div class="form-group ">
                                            <input type="file" name="image">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Price</div>
                                    <div>
                                        <input type="number" class="form-control" value= "{{ product.price }}" name='price'
                                               placeholder="Text input">
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="sub-title">Active</div>
                                    <div>
                                        <select class="selectbox" name="active">
                                            <optgroup label="Active">
                                                <option value="{{ True }}">{{ "Active" }}</option>
                                                <option value="{{ False }}">{{ "Inactive" }}</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                    <div class="panel-heading">
                                        <div class="card-title">
                                            <div class="title">Submit information</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <footer><p> Online store <a href="http://t.me/dkarimoff96">Created by</a></p></footer>
                </footer>
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
</div>
<!-- /. WRAPPER  -->
<!-- JS Scripts-->
<!-- jQuery Js -->
<script src="{% static 'assets/js/jquery-1.10.2.js' %}"></script>
<!-- Bootstrap Js -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<!-- Metis Menu Js -->
<script src="{% static 'assets/js/jquery.metisMenu.js' %}"></script>
<script src="{% static 'assets/js/select2.full.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".selectbox").select2();
    });
</script>
<!-- Custom Js -->
<script src="{% static 'assets/js/custom-scripts.js' %}"></script>


</body>
</html>
